<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>VUe Tobolist</title>
</head>
<body>
    <div id="app">
        <input minlength="3" @keyup.enter="aggiungiLista()" v-model="nuovaLista.testo" type="text" placeholder="Inserisci attività">
        <button @click="aggiungiLista()">Inserisci nella lista</button>
        <ul>
            <li v-for="(attività, i) in lista" >
                <span :class="underline(i)">{{attività.testo}}</span>  <button @click="rimuoviAttivita(i)">X</button> <button @click="change(i)">Done</button>
            </li>
        </ul>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>